--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2+cpu

fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

# RAG
sentence-transformers
faiss-cpu

# LLM
openai

# cache
redis==7.1.0

# tests
pytest
httpx

# db
sqlalchemy>=2.0,<3.0

# FIX: numpy 2.x breaks torch in this stack
numpy<2
