--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu

numpy<2

fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

sentence-transformers
transformers<5
faiss-cpu

openai

redis==7.1.0

pytest
httpx

sqlalchemy>=2.0,<3.0
psycopg2-binary==2.9.9
